Content Based Filtering : Rekomendasi Modul Pembelajaran

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import random

df = pd.read_csv("https://raw.githubusercontent.com/asaniafatma/sistemrekomendasi/main/data_stupen_magang.csv")
df.head()

,Nama Perusahaan,Alamat,Modul Pembelajaran
0,Asania Fatma,"Kedungpane RT 01 RW 05, Ngaliyan, Semarang",Jejaring Sosial Machine Learning Text Mining G...
1,PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor Jalan HR Rasuna Sai...",Membaca dan Mininjau Jurnal Ilmiah Dasar-Dasar...
2,PT. Sintesis Komunikasi Indonesia,"Jl. Cisanggiri V, No 6, Petogogan, Kebayoran B...",Logika dan Konsep Teknologi AI Metode Peneliti...
3,Yayasan Bakti Achmad Zaky,Jalan Attahiriyah II Kompleks Warga Indah Nomo...,AI Foundation Python Foundation Git Collaborat...
4,PT CADFEM SIMULATION TECHNOLOGY INDONESIA,"Munich, Germany",Fluid Kinematics Simple Approximations of Flui...

In [ ]:
df.describe()

,Nama Perusahaan,Alamat,Modul Pembelajaran
count,11,11,11
unique,11,11,11
top,Asania Fatma,"Kedungpane RT 01 RW 05, Ngaliyan, Semarang",Jejaring Sosial Machine Learning Text Mining G...
freq,1,1,1

1. Ikhtisar

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nama Perusahaan     11 non-null     object
 1   Alamat              11 non-null     object
 2   Modul Pembelajaran  11 non-null     object
dtypes: object(3)
memory usage: 392.0+ bytes

2. Tampilan Modul Pembelajaran (Sebelum Preprocessing)

In [47]:
def print_description(index):
    example = df[df.index == index][['Modul Pembelajaran', 'Nama Perusahaan','Alamat']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Nama Perusahaan:', example[1])
        print('Alamat:', example[2])

In [48]:
print_description(1)

Membaca dan Mininjau Jurnal Ilmiah Dasar-Dasar Science Python Stastik Visualisasi Data dan Analisis Data Proyek Akhir Kemampuan Literasi Numerisasi dan Berpikir Saintifik
Nama Perusahaan: PT Zona Edukasi Nusantara
Alamat: Graha Aktiva, Ground Floor Jalan HR Rasuna Said Kav. 03 East Kuningan, Setiabudi South Jakarta, 12950 Indonesia

In [ ]:
print_description(3)

AI Foundation Python Foundation Git Collaboration Machine Learning dan Deep Learning Computer Vision Data Science Natural Language Processing Final Project dan Demo Day
Nama Perusahaan: Yayasan Bakti Achmad Zaky
Alamat: Jalan Attahiriyah II Kompleks Warga Indah Nomor 9c, Pejaten Barat, Jakarta Selatan, 12510

In [ ]:
print_description(5)

Sustainable Start Up Sustainable Tourism Growth Mindset Overview Digital Marketing  Product Management
Nama Perusahaan: PT. Amati Karya Indonesia
Alamat: Jalan Raya Perserikatan No.1 Blok A Kav 261 Kelurahan Rawamangun, kecamatan Pulogadung Jakarta TImur DKI Jakarta

3. Text Preprocessing

In [ ]:
import nltk
nltk.download('stopwords')
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z #+_]')
#stopworda = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub('', text)
    #text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword dari kolom deskripsi
    return text
    
df['modul_pembelajaran_clean'] = df['Modul Pembelajaran'].apply(clean_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
df.head()

,Nama Perusahaan,Alamat,Modul Pembelajaran,modul_pembelajaran_clean
0,Asania Fatma,"Kedungpane RT 01 RW 05, Ngaliyan, Semarang",Jejaring Sosial Machine Learning Text Mining G...,jejaring sosial machine learning text mining g...
1,PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor Jalan HR Rasuna Sai...",Membaca dan Mininjau Jurnal Ilmiah Dasar-Dasar...,membaca dan mininjau jurnal ilmiah dasardasar ...
2,PT. Sintesis Komunikasi Indonesia,"Jl. Cisanggiri V, No 6, Petogogan, Kebayoran B...",Logika dan Konsep Teknologi AI Metode Peneliti...,logika dan konsep teknologi ai metode peneliti...
3,Yayasan Bakti Achmad Zaky,Jalan Attahiriyah II Kompleks Warga Indah Nomo...,AI Foundation Python Foundation Git Collaborat...,ai foundation python foundation git collaborat...
4,PT CADFEM SIMULATION TECHNOLOGY INDONESIA,"Munich, Germany",Fluid Kinematics Simple Approximations of Flui...,fluid kinematics simple approximations of flui...

4. Tampilan Modul Pembelajaran (Setelah Preprocessing)

In [45]:
def print_description_clean(index):
    example = df[df.index == index][['modul_pembelajaran_clean', 'Nama Perusahaan','Alamat']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Nama Perusahaan:', example[1])
        print('Alamat:', example[2])

In [46]:
print_description_clean(1)

membaca dan mininjau jurnal ilmiah dasardasar science python stastik visualisasi data dan analisis data proyek akhir kemampuan literasi numerisasi dan berpikir saintifik
Nama Perusahaan: PT Zona Edukasi Nusantara
Alamat: Graha Aktiva, Ground Floor Jalan HR Rasuna Said Kav. 03 East Kuningan, Setiabudi South Jakarta, 12950 Indonesia

In [ ]:
print_description_clean(3)

ai foundation python foundation git collaboration machine learning dan deep learning computer vision data science natural language processing final project dan demo day
Nama Perusahaan: Yayasan Bakti Achmad Zaky
Alamat: Jalan Attahiriyah II Kompleks Warga Indah Nomor 9c, Pejaten Barat, Jakarta Selatan, 12510

In [ ]:
print_description_clean(5)

sustainable start up sustainable tourism growth mindset overview digital marketing  product management
Nama Perusahaan: PT. Amati Karya Indonesia
Alamat: Jalan Raya Perserikatan No.1 Blok A Kav 261 Kelurahan Rawamangun, kecamatan Pulogadung Jakarta TImur DKI Jakarta

5. TF-IDF & Cosine Similarity

In [ ]:
df.set_index('Nama Perusahaan', inplace=True)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['modul_pembelajaran_clean'])
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cos_sim

array([[1.        , 0.        , 0.        , 0.07076759, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.07745228, 0.07216037, 0.        ,
        0.        , 0.02560626, 0.02160963, 0.        , 0.00693419,
        0.02231839],
       [0.        , 0.07745228, 1.        , 0.05729693, 0.        ,
        0.        , 0.01786142, 0.0150736 , 0.10370972, 0.        ,
        0.01556799],
       [0.07076759, 0.07216037, 0.05729693, 1.        , 0.        ,
        0.        , 0.01664104, 0.03092572, 0.02250752, 0.        ,
        0.0406579 ],
       [0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.01248835],
       [0.        , 0.02560626, 0.01786142, 0.01664104, 0.        ,
        0.        , 1.        , 0.02756703, 0.        , 0.        ,
        0.01292907],
       [0.        , 0.02160963, 0.0150736 , 0.03092572, 0.        ,
        0.        , 0.02756703, 1.        , 0.        , 0.        ,
        0.0109111 ],
       [0.        , 0.        , 0.10370972, 0.02250752, 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        ],
       [0.        , 0.00693419, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.0210072 ],
       [0.        , 0.02231839, 0.01556799, 0.0406579 , 0.        ,
        0.01248835, 0.01292907, 0.0109111 , 0.        , 0.0210072 ,
        1.        ]])

In [ ]:
indices = pd.Series(df.index)
indices[:50]

0                                  Asania Fatma
1                     PT Zona Edukasi Nusantara
2             PT. Sintesis Komunikasi Indonesia
3                     Yayasan Bakti Achmad Zaky
4     PT CADFEM SIMULATION TECHNOLOGY INDONESIA
5                     PT. Amati Karya Indonesia
6                       PT Dharma Polimetal Tbk
7                       PT Global Tiket Network
8                    PT Widya Inovasi Indonesia
9                      PT Bukit Vista Nusantara
10                       PT Solusi Tiga Selaras
Name: Nama Perusahaan, dtype: object

6. Modelling

In [ ]:
def recommendations(name, cos_sim = cos_sim):
    
    recommended_modul = []
    
    # Mengambil nama modul berdasarkan variabel indicies
    idx = indices[indices == name].index[0]

    # Membuat series berdasarkan skor kesamaan
    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    # mengambil index dan dibuat 3 baris rekomendasi terbaik
    top_10_indexes = list(score_series.iloc[1:4].index)
    
    for i in top_10_indexes:
        recommended_modul.append(list(df.index)[i])
        
    return recommended_modul

7. Prediksi

In [ ]:
recommendations('Asania Fatma')

['Yayasan Bakti Achmad Zaky',
 'PT Zona Edukasi Nusantara',
 'PT. Sintesis Komunikasi Indonesia']

In [ ]:
recommendations('PT Zona Edukasi Nusantara')

['PT. Sintesis Komunikasi Indonesia',
 'Yayasan Bakti Achmad Zaky',
 'PT Dharma Polimetal Tbk']

In [ ]:
recommendations('PT Bukit Vista Nusantara')

['PT Solusi Tiga Selaras', 'PT Zona Edukasi Nusantara', 'Asania Fatma']